.jumbotron {
    background-image: url(../IMG/pexels-felix-mittermeier-956981.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.jumbotron h1 {
    font-size: 7rem;
}